<ol class="breadcrumb page-breadcrumb">
  <li class="position-absolute pos-top pos-right d-none d-sm-block">
    <span class="js-get-date"></span>
  </li>
</ol>

<div class="mt-5">
  <div class="w-full">
    <div id="panel-1" class="bg-white shadow-md rounded-lg p-4" style="border-radius:13px">
      <div class="panel-hdr border-b border-gray-200 pb-4 mb-4">
        <h2 class="text-lg font-semibold">
          Blocked Users <span class="text-sm"><i></i></span>
        </h2>
      </div>

      <div class="grid md:flex justify-between items-center px-4">
        <.live_component
          module={FinincialToolWeb.Helps.ISearchComponent}
          id="ISearchComponent"
          params={@params}
        />
        <div class="flex space-x-4">
          <button
            class="inline-flex px-4 py-2 gradient-bg text-white tracking-wider text-sm font-semibold rounded-lg hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-offset-2"
            phx-click="open_modal"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="w-5 h-4 mr-1 mt-1"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M12 3c2.755 0 5.455.232 8.083.678.533.09.917.556.917 1.096v1.044a2.25 2.25 0 0 1-.659 1.591l-5.432 5.432a2.25 2.25 0 0 0-.659 1.591v2.927a2.25 2.25 0 0 1-1.244 2.013L9.75 21v-6.568a2.25 2.25 0 0 0-.659-1.591L3.659 7.409A2.25 2.25 0 0 1 3 5.818V4.774c0-.54.384-1.006.917-1.096A48.32 48.32 0 0 1 12 3Z"
              />
            </svg>
            Filter
          </button>

          <button
            class="inline-flex px-4 py-2 gradient-bg text-white tracking-wider  text-sm font-semibold rounded-lg hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-offset-2"
            phx-click="reload"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="w-5 h-4 mr-1 mt-1"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M16.023 9.348h4.992v-.001M2.985 19.644v-4.992m0 0h4.992m-4.993 0 3.181 3.183a8.25 8.25 0 0 0 13.803-3.7M4.031 9.865a8.25 8.25 0 0 1 13.803-3.7l3.181 3.182m0-4.991v4.99"
              />
            </svg>
            Reload
          </button>
        </div>
      </div>

      <div class="my-overflow-div">
        <input
          type="hidden"
          name="_csrf_token"
          id="csrf"
          value={Plug.CSRFProtection.get_csrf_token()}
        />
        <table
          id="tbl_users"
          class="min-w-full table bg-white table border border-gray-200 rounded-lg"
        >
          <thead class="gradient-bg text-white text-xs">
            <tr class="table-row">
              <th class="px-6 py-3 text-left text-xs font-medium uppercase tracking-wider">
                Firstname
              </th>

              <th class="px-6 py-3 text-left text-xs font-medium uppercase tracking-wider">
                Lastname
              </th>

              <th class="px-6 py-3 text-left text-xs font-medium uppercase tracking-wider">
                Username
              </th>

              <th class="px-6 py-3 text-left text-xs font-medium uppercase tracking-wider">
                Email
              </th>

              <th class="px-6 py-3 text-left text-xs font-medium uppercase tracking-wider">
                Phone
              </th>

              <th class="px-6 py-3 text-left text-xs font-medium uppercase tracking-wider">
                Sex
              </th>

              <th class="px-6 py-3 text-left text-xs font-medium uppercase tracking-wider">
                Role
              </th>

              <th class="px-6 py-3 text-left text-xs font-medium uppercase tracking-wider">
                Status
              </th>

              <th class="px-6 py-3 text-left text-xs font-medium uppercase tracking-wider">
                Action
              </th>
            </tr>
          </thead>

          <tbody class="text-sm">
            <%= for phin <- @data do %>
              <tr class="table-row">
                <td class="px-6 py-4 whitespace-nowrap"><%= phin.first_name %></td>

                <td class="px-6 py-4 whitespace-nowrap"><%= phin.last_name %></td>

                <td class="px-6 py-4 whitespace-nowrap"><%= phin.username %></td>

                <td class="px-6 py-4 whitespace-nowrap"><%= phin.email %></td>

                <td class="px-6 py-4 whitespace-nowrap"><%= phin.phone %></td>

                <td class="px-6 py-4 whitespace-nowrap"><%= phin.sex %></td>

                <td class="px-6 py-4 whitespace-nowrap">
                  <%= if(phin.user_role == nil,
                    do: "",
                    else: String.replace(phin.user_role, "_", " ")
                  ) %>
                </td>

                <td class="px-4 py-2">
                  <%= raw(FinincialTool.Workers.Util.Utils.td_status(phin.status)) %>
                </td>

                <td class="px-4 py-2">
                  <%= if phin.status in ["ACTIVE", "PENDING_APPROVAL"] && Enum.member?(@permits, "manage_users") do %>
                    <div class="relative" x-data="{ open: false }">
                      <button
                        type="button"
                        @click="open = !open"
                        @keydown.escape.window="open = false"
                        @click.away="open = false"
                        class="gradient-bg text-white px-2 py-1 text-xs rounded-md hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-500"
                      >
                        Options
                      </button>

                      <div
                        class="absolute mt-2 w-48 bg-white border border-gray-200 rounded-md shadow-lg"
                        x-show="open"
                        x-transition
                      >
                        <%= if phin.status == "ACTIVE" && Enum.member?(@permits, "approve_users") do %>
                          <button
                            type="button"
                            x-on:click="open = ! open"
                            class="block px-4 py-2 text-green-600 hover:bg-gray-100 w-full text-left"
                            phx-click="unblock"
                            phx-value-id={phin.id}
                          >
                            <i class="subheader-icon fal fa-unlock"></i> Unblock
                          </button>
                        <% end %>
                      </div>
                    </div>
                  <% else %>
                    <div class="text-center text-red-500 text-xs">No Actions</div>
                  <% end %>
                </td>
              </tr>
            <% end %>
          </tbody>

          <%= if @data_loader do %>
            <tr>
              <td colspan="20" class="py-4 text-center">
                <div class="flex justify-center items-center">
                  <div class="animate-spin rounded-full h-8 w-8 border-t-2 border-green-600">
                  </div>
                  <span class="ml-2 text-gray-500">Loading...</span>
                </div>
              </td>
            </tr>
          <% else %>
            <%= if Enum.empty?(@data) do %>
              <tr class="text-center">
                <td colspan="20" class="py-4">No data available in table</td>
              </tr>
            <% end %>
          <% end %>
        </table>

        <.live_component
          module={FinincialToolWeb.Helps.PaginationComponent}
          id="PaginationComponent"
          params={@params}
          pagination_data={@data}
        />
      </div>
    </div>
  </div>
</div>

<%= if @live_action in [:new, :edit] do %>
  <.modal class="max-w-4xl p-2" return_to={Routes.user_index_path(@socket, :index)}>
    <.live_component
      module={FinincialToolWeb.UserLive.FormComponent}
      id={@user.id || :new}
      title={@page_title}
      action={@live_action}
      user={@user}
      user_type={@user_type}
      return_to={Routes.user_index_path(@socket, :index)}
    />
  </.modal>
<% end %>

<%= if @info_modal do %>
  <.live_component
    module={InfoModalLive}
    id="warning-boom"
    title="Warning"
    body={@info_message}
    right_button={@info_wording}
    right_button_action="process"
    right_button_param={@info_modal_param}
    left_button_action="cancel-crash"
    left_button="Cancel"
  />
<% end %>

<%= if @success_modal do %>
  <.live_component
    module={SuccessModalLive}
    id="success-boom"
    title="Successful"
    body={@success_message}
    right_button="OK"
    left_button={nil}
    right_button_action="phin"
    ,
    right_button_param="phin"
    ,
    left_button_action="cancel-phin"
  />
<% end %>

<%= if @error_modal do %>
  <.live_component
    module={ErrorModalLive}
    id="error-phin"
    title="Failed"
    body={@error_message}
    right_button="OK"
    left_button={nil}
    right_button_action="phin"
    ,
    right_button_param="phin"
    ,
    left_button_action="cancel-phin"
  />
<% end %>

<%= if @show_modal do %>
  <.live_component
    module={FinincialToolWeb.UserLive.BlockedFilterComponent}
    id="modal-component"
    params={@params}
    roles={@roles}
    page={@page}
  />
<% end %>
