<div
  id={"modal-#{@id}"}
  x-transition
  class="fixed inset-0 flex items-center justify-center bg-gray-900 bg-opacity-50 z-50"
>
  <div
    class="bg-white rounded-lg shadow-lg max-w-4xl mx-auto p-6"
    phx-hook="ScrollLock"
    id={"modals-#{@id}"}
  >
    <form id="customs_tax_form_payment_submit" class="space-y-4 rounded-lg">
      <!-- Modal Header -->
      <div class="flex items-center justify-between border-b border-gray-200 pb-3">
        <h5 class="text-lg font-semibold" id="exampleModalLabel"><%= @title %></h5>

        <%= if @no_click == false do %>
          <button
            type="button"
            class="text-gray-500 hover:text-gray-700"
            phx-target={"#modal-#{@id}"}
            phx-click="dismiss-transaction-summary"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        <% end %>
      </div>
      <!-- Modal Body -->
      <div class="overflow-y-auto max-h-[60vh]">
        <table class="table w-full table-auto border-collapse">
          <%= for data <- @table do %>
            <tr class="border-b">
              <th class="px-4 py-2 text-left font-medium"><%= data.head %></th>

              <td class="px-4 py-2"><%= data.data %></td>
            </tr>
          <% end %>
        </table>
      </div>
      <!-- Modal Footer -->
      <div class="flex justify-end space-x-2 pt-3 border-t border-gray-200">
        <%= if @no_click == false do %>
          <button
            type="button"
            class="bg-gray-500 text-white px-4 py-2 rounded-lg hover:bg-gray-600"
            phx-click="dismiss-transaction-summary"
            phx-target={"#modal-#{@id}"}
            @click="if (connected) open = false"
          >
            <%= @left_button %>
          </button>

          <%= if @right_button != nil do %>
            <button
              type="button"
              class="bg-blue-600 text-white px-4 py-2 rounded-lg hover:bg-green-600"
              phx-click="right-button-click"
              phx-target={"#modal-#{@id}"}
              @click="if (connected) open = false"
            >
              <%= @right_button %>
            </button>
          <% end %>
        <% else %>
          <button
            type="button"
            class="bg-blue-600 text-white px-4 py-2 rounded-lg cursor-not-allowed"
            disabled
          >
            <%= @right_button %>
          </button>
        <% end %>
      </div>
    </form>
  </div>
</div>
