<div
  id={"modal-#{@id}"}
  phx-hook="ScrollLock"
  class="fixed inset-0 flex items-center justify-center bg-gray-900 bg-opacity-50 z-50"
>
  <div class="bg-white rounded-lg shadow-lg max-w-4xl mx-auto p-6" id={"modals-#{@id}"}>
    <form
      class="space-y-4 rounded-lg"
      phx-submit="submit-all-data"
      phx-change="change-modal-data"
      phx-target={"#modal-#{@id}"}
    >
      <!-- Modal Header -->
      <div class="flex items-center justify-between border-b border-gray-200 pb-3">
        <h5 class="text-lg font-semibold" id="exampleModalLabel"><%= @title %></h5>

        <%= if @no_click == false do %>
          <button
            type="button"
            class="text-gray-500 hover:text-gray-700"
            phx-target={"#modal-#{@id}"}
            phx-click="dismiss-modal"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        <% end %>
      </div>
      <!-- Modal Body -->
      <div class="overflow-y-auto">
        <div class="space-y-4">
          <%= for data <- @form do %>
            <div class="w-full">
              <div class="form-group">
                <label class="block text-gray-700 font-medium mb-1" for={data.name}>
                  <%= data.label %>
                </label>
                <textarea
                  class="form-control block w-full border border-gray-300 rounded-lg p-2"
                  name={data.name}
                  placeholder={data.placeholder}
                  id={data.name}
                  required
                >
                </textarea>
              </div>
            </div>
          <% end %>
        </div>
      </div>
      <!-- Modal Footer -->
      <div class="flex justify-end space-x-2 pt-3 border-t border-gray-200">
        <%= if @no_click == false do %>
          <button
            type="button"
            class="bg-gray-500 text-white px-4 py-2 rounded-lg hover:bg-gray-600"
            phx-click="dismiss-modal"
            phx-target={"#modal-#{@id}"}
          >
            <%= @left_button %>
          </button>

          <button
            type="submit"
            class="bg-blue-600 text-white px-4 py-2 rounded-lg hover:bg-green-600"
          >
            <%= @right_button %>
          </button>
        <% else %>
          <button
            type="button"
            class="bg-blue-600 text-white px-4 py-2 rounded-lg cursor-not-allowed"
            disabled
          >
            <%= @right_button %>
          </button>
        <% end %>
      </div>
    </form>
  </div>
</div>
