<!DOCTYPE html>
<html lang="en" style="scrollbar-gutter: stable;">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="csrf-token" content={get_csrf_token()} />
  <.live_title suffix="">
    <%= assigns[:page_title] || "Admin" %>
  </.live_title>
   <link phx-track-static rel="stylesheet" href={~p"/assets/app.css"} />
    <script defer phx-track-static type="text/javascript" src={~p"/assets/app.js"}>
    </script>

    <link phx-track-static rel="stylesheet" href={~p"/assets/custom/calender.css"} />

     <style>
      .gradient-bg {
        background: linear-gradient(135deg, #1e40af, #3b82f6);
      }
      .gradient-text {
        background: #3b82f6;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
      .apexcharts-canvas {
        margin: 0 auto;
      }
      .my-overflow-div {
        overflow: visible;
      }
      @media (max-width: 1200px) {
        .my-overflow-div {
          overflow: auto;
        }
      }

.custom-scrollbar {
  scrollbar-width: none; /* For Firefox */
  -ms-overflow-style: none; /* For Internet Explorer and Edge */
  overflow-y: scroll; /* Enable vertical scrolling */
}

.custom-scrollbar::-webkit-scrollbar {
  width: 0; /* For Chrome, Safari, and Opera */
  display: none; /* Hide scrollbar */
}

/* Optional: Add padding to the right to compensate for the missing scrollbar */
.custom-scrollbar {
  padding-right: 20px; /* Adjust as needed */
}

    </style>
   
</head>
<body class="font-sans antialiased bg-gray-50" >

  <!-- Content -->
  <div id="content">
    <%= @inner_content %>
  </div>

    <div id="customAlert" class="fixed inset-0 flex items-center justify-center bg-gray-800 bg-opacity-50 hidden z-50">
  <div class="bg-white p-6 rounded-lg shadow-lg text-center">
    <h2 class="text-lg font-semibold inline-flex"><Heroicons.exclamation_circle outline class="h-5 w-5 mr-2 mt-1"/>Notice</h2>
    <p class="mt-2 text-gray-600 mb-3">Another window or tab is currently active.</p>
    <.link id="okButton" navigate={~p"/"} class="mt-4 px-4 my-2 py-2 bg-blue-600 text-white rounded hover:bg-blue-700">
       Ok
    </.link>
  </div>
</div>



  <!-- Alpine.js for dropdown and sidebar toggle -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/apexcharts/3.26.3/apexcharts.min.js"> </script>
  <script>

    document.getElementById('sidebar-toggle').addEventListener('click', function () {
        const sidebar = document.getElementById('sidebar');
        const content = document.getElementById('content');
        const isSmallScreen = window.innerWidth < 768; 
        const linkText = document.querySelectorAll('#sidebar .text-sm');
        const sidebarToggle = document.getElementById('sidebar-toggle');
        const close_button = document.getElementById('close-button');

        if (isSmallScreen) {
            sidebar.classList.toggle('-translate-x-full');
        } else {
            sidebar.classList.toggle('md:min-w-[20px]'); 
            sidebar.classList.toggle('overflow-hidden'); 
            linkText.forEach(function(link) {
                link.classList.toggle('hidden');
            });
            content.classList.toggle('md:ml-[150px]');
            sidebarToggle.classList.toggle('hidden');
            close_button.classList.toggle('hidden'); 
        }
    });


    document.getElementById('close-button').addEventListener('click', function () {
        const sidebar = document.getElementById('sidebar');
        const content = document.getElementById('content');
        const isSmallScreen = window.innerWidth < 800; 
        const linkText = document.querySelectorAll('#sidebar .text-sm');
        const sidebarToggle = document.getElementById('sidebar-toggle');
        const close_button = document.getElementById('close-button');

        if (isSmallScreen) {
            sidebar.classList.toggle('-translate-x-full');
            close_button.classList.toggle('hidden'); // Ensure close button visibility on small screens
        } else {
            sidebar.classList.toggle('md:min-w-[20px]'); 
            sidebar.classList.toggle('overflow-hidden'); 
            linkText.forEach(function(link) {
                link.classList.toggle('hidden');
            });
            content.classList.toggle('md:ml-[150px]');
            sidebarToggle.classList.toggle('hidden');
            close_button.classList.toggle('hidden'); // Ensure close button is shown when sidebar is open
        }
    });

    document.getElementById('close-sidebar').addEventListener('click', function () {
        const sidebar = document.getElementById('sidebar');
        sidebar.classList.add('-translate-x-full'); 
    });

  </script>
</body>
</html>
